body {
    font-family: 'Public sans', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #000000;
    margin-left: 10px;
    font-size: 20px;
}

.header .logo h1:hover {
    color: #5BC241;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    padding: 10px;
    font-size: 20px;
    color: #000000;
}

.menu li a:hover {
    background: #5BC241;
    color: #FFFFFF;
    transition: 0.3s ease-in;
}

.menu .btn {
    background-color: #5BC241;
    border-radius: 10px;
    padding: 8px;
    margin-right: 10px;
    color: #FFFFFF;
}
