body{
    background-color: #2c3e50
}

h1{
    color: white;
}

h4{
    color: yellow;
}

h2{
    background-color: yellow;
    border: 2px solid;
}


li{
    color: white;
}

.astronomia {
    color: #e74c3c;
}