body {
    font-family: 'Public sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .info {
    color: #FFFFFF;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .info .titulo {
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .info .subtitulo {
    font-size: 17px;
    font-weight: 300;
}

